@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

header {
  width: 100%;
}

header .list {
  padding: 1.5rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  border: 1px solid black;
}

header .list a {
 text-decoration: none;
  color: #000;
  cursor: pointer;
}

.logo {
  width: 90%;
  cursor: pointer;
}

.logo img {
  width: 100%;
}

.home-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 45%;
}


.home-icons button {
  color: rgba(41, 41, 41, 1);
}

.inputs {
  height: 80%;
}

